<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
{% for Post in posts%}
    <h1>
    {{ Post.title }}
    </h1><br>
    <hr>
    <p>{{ Post.body }}</p><br>
    <hr>
        <h5>Автор статьи {{Post.author}}</h5>
      <p>  Опубликовано {{Post.date_release}}</p>
{% endfor%}
</body>
</html>